---
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout
  title="About ben9583's Feedback Site"
  description="Learn more about ben9583's feedback website, why it exists, and the technology behind it."
>
  <div class="max-w-xl mx-auto">
    <main class="main-content ml-4 mr-4 py-8 max-w-xl">
      <h1 class="text-3xl font-bold mb-8">About</h1>
      <p class="mb-4 text-lg">
        This website was created as a central place for me to collect feedback
        from people about my projects, statements, beliefs, and other things.
        You can submit feedback to me, currently by invite only, when you
        receive a code/link from myself. You'll be able to discreetly let me
        know about how you feel and I'll be notified of your feedback, which I
        promise to read and consider. Please go to the <a href="/feedback"
          >feedback</a
        > page if you've received such a link.
      </p>
      <p class="mb-4 text-lg">
        If you're curious about what runs this website, it's currently hosted on
        my Raspberry Pi 4b with an <a href="https://astro.build">Astro</a>
         frontend and PostgreSQL backend. I don't have prior experience with
        Astro before this project, so this has been a nice way to get used to
        it. I'm also using
        <a href="https://tailwindcss.com">Tailwind CSS</a> for styling. Also,
        this website has no JavaScript.
      </p>
      <p class="mb-4 text-lg">
        Looking for my main website? <a href="https://ben9583.com"
          >Click here.</a
        >
      </p>
    </main>
  </div>
</Layout>
