---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Page not found: ben9583's Feedback Site"
  description="This page does not exist or is not publicly available. Please visit another page."
>
  <div class="max-w-xl mx-auto">
    <main class="main-content ml-4 mr-4 py-8 max-w-xl">
      <h1 class="text-3xl font-bold mb-8">
        404 Page not found
      </h1>
      <p class="text-lg">
        There's nothing on this page. Please use one of the links on the navbar
        above to navigate to another page.
      </p>
    </main>
  </div>
</Layout>