---
import Logo from '../assets/logo.jpg'
import Header from '../components/Header.astro'
import WarningBanner from '../components/WarningBanner.astro'

import '../globals.css'
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="ben9583" />
    <meta name="description" content={description} />
    <meta name="keywords" content="ben9583, feedback" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- @ts-ignore -->
    <Header
      logoSrc={Logo}
      logoHref="/"
      logoAlt="Go to Home"
      height={50}
      logoTitle="ben9583"
    >
      <a href="/about">About</a>
      <a href="/feedback">Submit Feedback</a>
    </Header>
    {
      Astro.url.protocol === 'http:' &&
      Astro.url.hostname !== '127.0.0.1' &&
      Astro.url.hostname !== 'localhost' ? (
        <>
          <WarningBanner
            title="This Site is Insecure"
            description="This site appears to not be using HTTPS, meaning all traffic between you and this site can be viewed by others without you knowing. Do not include any sensitive information in feedback or other forms."
            status="error"
          />
          <div>
            <slot />
          </div>
        </>
      ) : (
        <>
          <div class="mt-16">
            <slot />
          </div>
        </>
      )
    }
  </body>
</html>
